@charset "UTF-8";

header {
	position: relative;
	height: 150px;
	border: 1px solid #f00;
	overflow: hidden;
}
hgroup {
	position: absolute;
	left: 5px;
	top: 10px;
}
li {
	float: left;
}
#a {
	position: absolute;
	right: 3px;
	top: 3px;
	border: 1px solid #000;
}
#a ul li {
	padding: 3px;
	border-right: 1px solid #000;
}
#a ul li.no-border {
	border-right: 1px solid #fff;
}
#a ul li a{
	background: #fff;
	color: #000;
}
#a ul li a:hover{
	background: #777;
	color: #fff;
}